<h2>Biztos törölni szeretnéd ez a hozzáaszólást?</h2>
<mat-card class="commentCard"> 
    <div class="text-div">
        <img *ngIf="comment.avatar != 'assets/avatar-icon.png'" src="{{comment.avatar}}"  class="avatar">
        <img *ngIf="comment.avatar == 'assets/avatar-icon.png'" src="{{comment.avatar}}"  class="avatarPlain">
        <h4 class="userName">{{comment.user.firstName + " " + comment.user.lastName}}</h4>
        <h4 class="commentText" style="white-space: pre-line" >{{comment.comment.text}}</h4>
        <div class="date">
            <img *ngIf="comment.comment.isEdited" src="assets/black-pen-icon.png" class="editedIcon">
            <h5>{{comment.comment.createdAt | toDate }}</h5>
        </div>
    </div>
</mat-card>
<div>
    <button mat-button color="primary" mat-dialog-close="delete" (click)="dialogRef.close()">Mégsem</button>
    <button mat-button color="accent" [mat-dialog-close]="delete" >Törlés</button>
</div>
