.dropdownFirst{
    margin-left: auto;
    
}

.dateDiv{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    height: 60px !important;
    width: 60px !important;
}

.avatarPlain{
    height: 70px !important;
    width: 70px !important;
}

.historyDescription{
    left: 5px !important;
    position: relative;
}

.historyTitle{
    font-size: 20px !important;
}

.smallIcon{
    position: relative !important;
    float: right;
    right:50px !important;
}

.smallDeleteIcon{
    position: relative !important;
    float: right;
    
    right:-20px !important;
}

.bell{
    font-size: 50px;
    opacity: 80%;
    margin-top: 10px;
}

.historyTitle{
    margin-top: 20px !important;
}

.home{
    margin-top: 0px !important;
}

.saleId{
    margin-top: 0px !important;
    margin-left:auto !important;
    margin-right: 10px;
}

::ng-deep .groupPanel .p-panel-header{
    background: whitesmoke !important;
    color: black !important;
    z-index: 1;
}

a{
    text-decoration: none;
}

