.mat-card-third{
    height: min-content !important;
    width: 1050px !important;
}

.second-card-line{
    height: min-content !important;
    width: min-content !important;
}

.mat-card-one{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 130px !important;
}

.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

.timeline{
    width: 800px;
}

.tasks{
    width: 100%;
}
