<div>
    <div class="cards">
        <mat-card (mouseenter) ="mouseEnterFirst()"  (mouseleave) ="mouseLeaveFirst()" class="mat-card-one">  
        <div class="first-line">
            <div class="text-div">
                <h2 class="name">
                    {{comp.name}}
                </h2>
                <img src="assets/company-icon.png"  class="icon">
            </div>
            <a [hidden]="!firstEditIconVisible" (click)="openDialog('mainDialog')" ><img src="assets/pen-icon.png" class="edit-icon"></a>
        </div>
            <h2>
                {{comp.address}}
            </h2>
            <h2>
                {{comp.ceoName}}
            </h2>
        </mat-card>
        <div class="card-div">
            <mat-card class="mat-card-two">  
                <mat-label>
                    <h2>Megjegyzések</h2>
                </mat-label>
                <div class="comments">
                    <mat-card (mouseover)="showIcon(this.comment.id, true)" (mouseleave)="showIcon(thi.comment.id, false)" class="commentCard" *ngFor=" let comment of comments"> 
                        <div class="text-div">
                            <img src="assets/avatar-icon.png"  class="icon">
                            <h4 class="commentText">{{comment.text}}</h4>
                            <h5 class="date">{{comment.createdAt | toDate }}</h5>
                            <a><img *ngIf="isShowIconTrue(this.comment.id)" src="assets/pen-icon.png"  class="smallIcon"></a>
                        </div>
                    </mat-card>
                </div>
            </mat-card>
            <mat-card class="commentField">
                <form [formGroup]="form" >
                    <mat-form-field appearance="fill" class="commentForm">
                      <textarea matInput class="textArea" placeholder="Hózzászólás írása..." formControlName="textArea" required></textarea>
                      <mat-hint>max 500 karakter</mat-hint>
                    </mat-form-field>
                    </form>
                    <button mat-button color="warn" (click)="resetCommentField()" >Törlés</button>
                    <button mat-button [disabled]="form.invalid" (click)="createComment()">Elküldés</button>
            </mat-card>
        </div>
    </div>
    <div class="second-card-line"> 
            <mat-card (mouseenter) ="mouseEnterSecond()"  (mouseleave) ="mouseLeaveSecond()" class="mat-card-one">  
                <div class="first-line">
                    <div class="text-div">
                        <h2 class="title">
                            Elérhetőségek
                        </h2>
                        <img src="assets/contact-icon.png"  class="icon">
                    </div>
                    <a [hidden]="!secondEditIconVisible"  (click)="openDialog('contactDialog')" ><img src="assets/pen-icon.png" class="edit-icon"></a>
                </div>
                    <h2>
                        {{comp.phone}}
                    </h2>
                    <h2>
                        {{comp.email}}
                    </h2>
        </mat-card>
    
    </div>
    <div class="third-card-line"> 
        <mat-card (mouseenter) ="mouseEnterThird()"  (mouseleave) ="mouseLeaveThird()" class="mat-card-one">  
            <div class="first-line">
                <div class="text-div">
                    <h2 class="title">
                        Weboldal
                    </h2>
                    <img src="assets/web-icon.png"  class="icon">
                </div>
                <a [hidden]="!thirdEditIconVisible"  (click)="openDialog('webpageDialog')" ><img src="assets/pen-icon.png" class="edit-icon"></a>
            </div>
                <h2>
                    {{comp.webpage}}
                </h2>
    </mat-card>

</div>
