.mat-card-one{
    height: fit-content;
    width: 70%;
    background-color: #FFFFFF;
    border-top-left-radius: 0 !important;
    display: inline-block;
    justify-content:space-between; 
    min-width: 600px;
}

.mat-card-two{
    height: 400px;
    width: 100%;
    background-color: #FFFFFF;
    display: inline-block;
    justify-content:space-between; 
    min-width: 200px;
}

.card-div{
    padding-left: 50px;
    margin-right: 2%;
    width: 30%;
}

.cards {
    margin-inline: 3% !important;
    position: absolute;
    width: max-content;
    display: flex;
    width: 95%;
}

h2 {
    
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size:40px;
    font-variant:small-caps;
    text-align: left;
    font-weight:bold;
    padding:15px 0px 15px 0px; /* Tweak this to your liking */
}