<form [formGroup]="form">
    <h3>Jelszóváltoztatás</h3>
    <mat-form-field hideRequiredMarker="true">
        <mat-label >Új jelszó</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-hint>Minimum 6 karakter</mat-hint>
    </mat-form-field>
    <mat-form-field  hideRequiredMarker="true">
        <mat-label >Új jelszó újra</mat-label>
        <input matInput type="password" formControlName="passwordAgain" required>
        <mat-hint style="color: red">{{error}}</mat-hint>
    </mat-form-field>
</form>
<div>
    <button mat-button color="accent" (click)="dialogRef.close()">Mégsem</button>
    <button mat-button color="primary" [disabled]="form.invalid" (click)="save()">Módosítás</button>
</div>