<div class="menubar">
    <mat-toolbar class="mat-elevation-z8" >
        <img src="assets/foxcrm-logo.png" class="logo" >
        <button routerLinkActive='active' routerLink='/company' mat-button>
            <span>Cégoldal</span>
        </button>
        <button routerLinkActive='active' routerLink='/products' mat-button>
            Termékek
        </button>
        <button mat-button routerLinkActive='active' routerLink='/sale' >
            <span>Értékesítési adatlap</span>
        </button>
  </mat-toolbar>
</div>