<div class="menubar">
    <mat-toolbar class="mat-elevation-z8" >
        <img src="assets/foxcrm-logo.png" class="logo" >
        <button routerLinkActive='active' [routerLink]="['/company/3t92wuZZJdLVM0zrUaGB/1']" mat-button>
            <span>Cégoldal</span>
        </button>
        <button routerLinkActive='active' routerLink='/products' mat-button>
            Termékek
        </button>
        <button mat-button routerLinkActive='active' routerLink='/sale' >
            <span>Értékesítésiek</span>
        </button>
        <div class="account">
        <img *ngIf="avatarURL !='assets/avatar-icon.png' && user.avatarPath != '/avatars/avatar-icon.png' " src="{{avatarURL}}" class="icon" [@fadeAnimation]="'in'">
        <img *ngIf="avatarURL =='assets/avatar-icon.png' ||  user.avatarPath == '/avatars/avatar-icon.png'" src="{{avatarURL}}" class="iconPlain" >
        <span class="name">{{user.firstName + " " + user.lastName}}</span>
        <a [matMenuTriggerFor]="menu" >	<mat-icon class="settings-icon">menu</mat-icon></a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/my-profile">
                <mat-icon>person</mat-icon>
                Profilom
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                Kijelentkezés
            </button>
        </mat-menu> 
        </div>
  </mat-toolbar>
</div>