
<form [formGroup]="form">
    <h3>Cég adatok módosítása</h3>
    <mat-form-field [hidden]=!isMainDialog>
        <mat-label >Cég neve</mat-label>
        <input matInput focus formControlName="name" required>
    </mat-form-field>
    <mat-form-field [hidden]=!isMainDialog>
        <mat-label >Cég tulajdonos</mat-label>
        <input matInput focus formControlName="ceoName" required>
    </mat-form-field>
    <mat-form-field [hidden]=!isMainDialog>
        <mat-label>Székhely</mat-label>
        <input matInput focus formControlName="address" required>
        <mat-hint>Utca , Város (Irányítószám)</mat-hint>
    </mat-form-field>
    <mat-form-field [hidden]=!isContactDialog>
        <mat-label>Telefonszám</mat-label>
        <input matInput focus formControlName="phone" required>
    </mat-form-field>
    <mat-form-field [hidden]=!isContactDialog>
        <mat-label>Email</mat-label>
        <input matInput focus formControlName="email" required>
    </mat-form-field>
    <mat-form-field [hidden]=!isMainDialog>
        <mat-label>Adószám</mat-label>
        <input matInput focus formControlName="taxNumber" required>
    </mat-form-field>
    <mat-form-field [hidden]=!isWebpageDialog>
        <mat-label>Weboldal</mat-label>
        <input matInput focus formControlName="webpage" required>
    </mat-form-field>
    
</form>
<div>
    <button mat-button (click)="dialogRef.close()">Mégsem</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Módosítás</button>
</div>