
    <div>
        <div class="cards">
            <mat-card (mouseenter) ="mouseEnterFirst()"  (mouseleave) ="mouseLeaveFirst()" class="mat-card-one">  
            <div class="first-line">
                <div class="text-div">
                    <h2 class="name">
                    </h2>
                    <img src="assets/company-icon.png"  class="icon">
                </div>
                <a [hidden]="!firstEditIconVisible" (click)="openDialog()" ><img src="assets/pen-icon.png" class="edit-icon"></a>
            </div>
                <h2>
                </h2>
                <h2>
                </h2>
            </mat-card>
            <div class="card-div">
                <mat-card class="mat-card-two">  
                    <mat-label>
                        <h2>Megjegyzések</h2>
                    </mat-label>
                    <div class="comments">
                        <div *ngIf="comments.length == 0" class="void" > 
                            <h2 style="color: gray; opacity: 50%;">Hatalmas üresség...</h2>
                            <img src="assets/Foxcrm-logo2.png" class="saturate">
                        </div>
                        <mat-card (mouseover)="showIcon(comment.id, true)" (mouseleave)="showIcon(comment.id, false)" class="commentCard" *ngFor=" let comment of comments"> 
                            <div *ngIf="!isShowAreaTrue(comment.id)" class="text-div">
                                <img src="assets/avatar-icon.png"  class="icon">
                                <h4 class="commentText" style="white-space: pre-line" >{{comment.text}}</h4>
                                <div class="date">
                                    <img *ngIf="comment.isEdited" src="assets/black-pen-icon.png" class="editedIcon">
                                    <h5>{{comment.createdAt | toDate }}</h5>
                                </div>
                                <a (click)="showArea(comment.id, true, comment.text)"><img *ngIf="isShowIconTrue(this.comment.id)" src="assets/pen-icon.png"  class="smallIcon"></a>
                                <a (click)="openConfirmDialog(comment.id)"><img *ngIf="isShowIconTrue(this.comment.id)" src="assets/delete-icon.png"  class="smallDeleteIcon"></a>
                            </div>
                            <div *ngIf="isShowAreaTrue(comment.id)">
                                <form [formGroup]="editForm" >
                                <mat-form-field appearance="fill" class="commentForm">
                                    <textarea matInput class="editTextArea" formControlName="editTextArea" (ngModelChange)="valueChange('E')" required></textarea>
                                    <mat-hint><b>{{editRemainingText}}</b>/500 (max)</mat-hint>
                                  </mat-form-field>
                                </form>
                                <button mat-button color="warn" (click)="showArea(comment.id, false)" >Mégsem</button>
                                <button mat-button [disabled]="editForm.invalid" (click)="editComment(comment.id)">Módosítás</button>
                            </div>
                        </mat-card>
                    </div>
                </mat-card>
                <mat-card class="commentField">
                    <form [formGroup]="form" >
                        <mat-form-field appearance="fill" class="commentForm">
                          <textarea matInput class="textArea" placeholder="Hózzászólás írása..." formControlName="textArea" (ngModelChange)="valueChange('C')" required></textarea>
                          <mat-hint><b>{{commentRemainingText}}</b>/500 (max)</mat-hint>
                        </mat-form-field>
                        </form>
                        <button mat-button color="warn" (click)="resetCommentField()" >Törlés</button>
                        <button mat-button [disabled]="form.invalid" (click)="createComment()">Elküldés</button>
                </mat-card>
            </div>
        </div>
</div>