.cardDiv{
    display: flex;
    justify-content: center; 
    margin-top: 100px;
    margin-bottom: 5%;
    margin-inline: 5%;
}

.main{
    width: 1400px;
    min-width: 1400px;
    height: 600px;
    min-height: 600px;
    display: flex;
}

.sideBar{
    width: 400px;
    height: 570px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
}

.menuItem{
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0479c2), color-stop(40%,#53cbf1), color-stop(100%,#009CFF)) !important;
    width: 100%;
}

.avatar{
    width: 100px;
}
hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#000000;
    height: 2px;
    position: relative;
    top: -20px;
  }


.position{
    position: relative;
    top: -20px;
}
  
.vertical {
    border-left: solid #000000;
  }

.small{
    height: 1px !important;
    position: relative;
    top: -10px !important;
    width: 80% !important;  
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    opacity: 50%;
    filter: grayscale(100%);
}

.phoneIcon{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    opacity: 100%;
    filter: grayscale(100%);
}

.infoBar{
    width: 1000px;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    position: relative;
    margin-left: 20px;
}
.grid{
    display: grid;
    margin-left: 20px;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
}



mat-form-field{
    width: 300px;
}

::ng-deep.mat-form-field-disabled .mat-form-field-underline 
{ 
    background-image: linear-gradient( to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0.42) 33%, #c2c7cc 0 ) !important; 
    background-size: 0px 100% !important;
    background-repeat: repeat-x !important; 
} 

.buttons{
    margin-top: 70px;
}

button + button {
    margin-left: 10px;
}

.mat-form-field{
    width: 300px !important;
    margin-top: 20px;
    margin-left: 50px;
}

.label{
    position: absolute;
    left: -162px;
    top: -33.5px;
    width: 100px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 10px;
}

  
::ng-deep .label.mat-form-field-appearance-outline .labelPhone.mat-form-field-appearance-outline .smallLabel.mat-form-field-appearance-outline .mat-form-field-outline {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#80c8f1),color-stop(90%,#eee8e6)) !important;
    border-radius: 10px; 
}

.label input{
    position: relative;
    top: -4px;
    left: 6px;
    font-weight: 1000;
}

input{
    font-size: 20px;
    position: relative;
    top: -4px;
    left: 0px;
}

.labelPhone {
    position: absolute;
    left: -162px;
    top: -33.5px;
    width: 150px !important;
}
.labelPhone input{
    position: relative;
    top: -4px;
    left: 6px;
    font-weight: 1000;
}

.phone{
    left: 105px;
    width: 170px !important;
}

.smallLabel {
    position: absolute;
    left: -196px;
    top: -33.5px;
    width: 134px !important;
}
.smallLabel input{
    position: relative;
    top: -4px;
    left: 2px;
    font-weight: 1000;
}

.small-form-field{
    width: 266px !important;
    position: relative;
    left: 34px;
}

.pos{
    position: relative;
    left: 30%;
}

