<div>
    <div class="cardDiv" >
        <mat-card class="main">  
            <mat-card class="sideBar">  
                <img src="assets/avatar-icon.png" class="avatar">
                <h2>Fehér Zsolt</h2>
                <hr>
                <h3 class="position">CEO</h3>
                <mat-form-field apperiance="fill">
                    <mat-label>E-mail</mat-label>
                    <input matInput disabled="true" value="zsolf57@gmail.com" >
                </mat-form-field>
                <mat-form-field apperiance="fill">
                    <mat-label>Telefonszám</mat-label>
                    <input matInput disabled="true" value="+36203338349" >
                </mat-form-field>
                <div class="buttons">
                    <button mat-raised-button color="primary">Módosítás</button>
                    <button mat-raised-button color="accent">Feladatok</button>
                </div>
            </mat-card>
        </mat-card>
    </div>
</div>