

mat-button-toggle-group {
    border: none !important;
    margin-top: 1%;
    margin-left: 3%;
    border-bottom-right-radius: 0;  
    border-bottom-left-radius: 0;
  }
  
mat-button-toggle {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bold;
    border: 1px rgba(0,0,0,0) solid !important;
    margin-top: 5px !important;
    z-index: 3 !important;
    background-color: #dc8059;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
}
  
mat-button-toggle:hover {
    background-color: #FFFFFF !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    border:none;
}
  
.mat-button-toggle-checked {
    box-shadow: 0 0 5px #000 !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    background-color: #FFFFFF !important;
}

.main-page{
    padding-top: 80px;
}
